name: FastAPI CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:

  build:
    name: Build 
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code of current branch
        uses: actions/checkout@v4
     
      - name: Setup Base environment
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Check app import 
        run: python -c "from app.main import app; print('App loaded successfully')"

  test:
     name: Run tests
     runs-on: ubuntu-latest
     needs: build

     steps:
       - name: Checkout code
         uses: actions/checkout@v4

       - name: Set up python
         uses: actions/setup-python@v5
         with:
            python-version: "3.x"

       - name: Install dependencies
         run: |
          pip install -r requirements.txt
          pip install pytest

       - name: Run pytest
         run:
            pytest
            